@charset "utf-8";
/* CSS Reset Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration:none;
	line-height:1em;
	letter-spacing:0px;
}

img {
    vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--End of Page Reset--*/

/*Blue – For Links Etc: #51a2b3 = 81, 162, 179
Highlighted Blue: #61c7dd = 97,199, 221*/

body, html 					{height:100%; width:100%; }

/*
@media screen and (max-width: 700px) {
	#ak_wrap_jsbg,
	.ak_cont_nojsbg			{display: none;}
	.logo img				{width:auto; height:10%;}	
}

@media screen and (min-width: 701px) and (max-width: 1200px) {
	.changeheight			{height:640px; }
	.ak_advance_link 		{bottom:80px; }
	.ak_cont_article		{top:160px; }
	.logo					{top:10px; left:10px; }
	.logo img 				{width:144px; height:72px }
}
*/

@media screen and (max-width: 1200px) {
	.changeheight			{height:640px; }
	.ak_advance_link 		{bottom:80px; }
	.ak_cont_article		{top:160px; }
	.logo					{top:10px; left:10px; }
	.logo img 				{width:144px; height:72px }
	.scrollable 			{height:300px; }
}

@media screen and (min-width: 1201px) {
	.changeheight 			{height:720px; }
	.ak_advance_link 		{bottom:0px; }
	.ak_cont_article		{top:200px; }
	.logo					{top:20px; left:20px; }
	.logo img 				{width:192px; height:96px; }
	.scrollable 			{height:350px; }
}



p,ul,li,h1,h2,h3,h4,h5,h6,label,input	{line-height:1.4em; color:#ddd; font-size:13px; font-family:'Open Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-weight:400; }
a:hover 					{color:#61c7dd!important; }


/*--Main Page Components--*/
body 						{background-color:#000; }
#ak_body					{position:relative; top:40px;}
.ak_wrap_mainnav			{position:fixed; height:140px; top:0px; left:0px; z-index:1; background-image:url(/ak_web_images/bgtransparent.png); }
.ak_section_main 			{position:relative; overflow:hidden; z-index:0; } /*--Sets the 'viewing window' of the pages by setting the overflow to hidden. Also has stretchwidth and setheight--*/
.ak_wrap_page				{position:relative; } /*--Wrapper for the pagecontainers and allows the advance bar to stick to the bottom of each page--*/
.ak_cont_page				{position:relative; overflow:hidden; z-index:1; } /*--The container of the one or more 'pages' for each pagesection--*/
.ak_page_format 			{position:relative; overflow:hidden; } /*--Styles each 'page' of content within each Page Container'--*/
.logo						{z-index:1; position:absolute; }

/*--Setup 100% width and min-width for various containers and Wraps--*/
.ak_section_main,
.ak_cont_page,
.ak_page_format,
.ak_wrap_mainnav,
.ak_wrap_subscribe,
.ak_wrap_page,
.ak_wrap_altnav,
.ak_wrap_social,
.ak_wrap_footer,
.ak_cont_nojsbg,
#ak_wrap_jsbg				{width:100%; min-width:960px!important; }

/*--Centres Selected Elements--*/
.ak_cont_article,
.ak_cont_footer,
.ak_cont_mainnav,
.ak_cont_altnav				{width:960px; margin:0px auto; position:relative; }

/*--Set Heights of Pages--*/
.ak_wrap_page,
.ak_cont_page,
.ak_page_format				{height:720px;}

/*--Main Nav--*/
.ak_mainnav_ul				{list-style-image:none; list-style-type:none; padding-top:52px; text-align:center;}
.ak_mainnav_li				{display:inline-block; /* for ie6/7: */ *display:inline; zoom:1; margin:0px 15px;   }

/*--Top Social Icons--*/
#ak_socialtop_cont			{position:absolute; right:10px; top:10px; z-index:1;}
.ak_img_topsocial_icon		{width:20px; height:20px;}
.ak_socialtopicon_cont		{float:left; margin-left:2px}
.ak_article_applyli			{zoom: 81%; margin-right:5px; }
.fb-like					{width:49px!important; overflow:hidden!important;}

/*--Footer Nav--*/
.ak_footnav_ul				{list-style-image:none; list-style-type:none; text-align:center; }
.ak_footnav_li				{display:inline-block; /* for ie6/7: */ *display:inline; zoom:1; padding:0px 15px 100px 15px; }

/*--First Page Positioning--*/
.ak_cont_headline 			{width:440px; height:240px; top:220px; background-image:url(/ak_web_images/bgbox.png); text-align:center; padding:5px 40px; margin:0px auto; position:relative;  }
.ak_headline_home			{padding: 12px 0px 0px 20px; width:780px!important; height:268px!important}
.ak_headline_more 			{position:absolute; right:10px; bottom:10px; text-align:right; }
#home .ak_headline_link		{font-size:48px!important;}


/*--For Lead Home Pages--*/
#home .ak_cont_article,
#vc_hiring_tips .ak_cont_article,
#ten_questions .ak_cont_article 	{width:800px; height:280px; }

#home .ak_article_column,
#vc_hiring_tips .ak_article_column,
#ten_questions .ak_article_column 	{width:435px; margin-top:125px; }

.ak_lead_headline			{font-size:44px!important; }
#ak_report_tb				{width:317px; height:360px; bottom:-46px; left:50%; margin-left:70px; position:absolute; }


/*--Second Page Positioning--*/
.ak_cont_article			{background-image:url(/ak_web_images/bgtransparent.png); z-index:1; }
.ak_article_title			{margin-left:28px; margin-top:15px; position:absolute; }
.ak_article_column 			{width:280px; margin:60px 0px 30px 30px; float:left; }
.ak_article_follow			{position:absolute; right:30px; top:20px; }
.ak_img_article_icon		{position:relative; top:-2px; width:20px; height:20px; margin-right:3px; }
.ak_darkscreen 				{background-image:url(/ak_web_images/bgtransparent_lt.png); z-index:0; position:absolute; top:0px; left:0px; -webkit-backface-visibility: hidden; -webkit-transform:translate3d(0,0,0); }
.twocolspan					{width:590px; }
.threecolspan				{width:900px; }
.scrollable 				{overflow-x:hidden; overflow-y:scroll;}
.scrollable p 				{padding-right:50px; }
.clearfix					{clear:both; }


/*--Second Page-Specific Position Modifiers--*/
#people .ak_article_title	{margin-top:220px; margin-left:30px; }
#people .ak_article_column	{margin-top:30px; margin-bottom:30px; }
#process2 .ak_cont_article	{height:290px; top:230px; }
.ak_article_resource		{width:440px; float:left; margin-top:15px;}
#people .ak_article_column,
#process2 .ak_article_column,
#contactus .ak_article_column {width:435px!important; }


/*--Set up the diary pages--*/
#diarypagecontainer			{position:absolute; height:520px; overflow:hidden; top:0px; left:50%; margin-left:38px; } /*--The container of all the divs for the diary pages--*/
.diarypage					{position:relative; z-index:1; width:370px; height:300px; overflow:hidden; padding-top:220px; } /*--Styles each page (div) of the diary pages--*/
.diarypage_text				{width:185px; height:300px; float:left; position:relative; z-index:2; overflow:hidden; background-image:url(/ak_web_images/imgdiarytext.png); }
.diarypage_link				{width:185px; height:300px; display:block; }
#diarybg					{width:480px; height:360px; bottom:-37px; left:50%; margin-left:-10px; position:absolute; }

/*--Styles the 'advance bar' on the bottom of each page - images, quotes, text etc--*/
.ak_imgtrimr_advance		{position:absolute; width:50px; height:50px; overflow:hidden; right:10px; top:10px; }
.ak_img_iconadvance			{left:-300px; }
.ak_advance_link 			{height:0px; display:block; left:0px; right:0px; position:absolute; z-index:1; text-align:right; padding:13px 67px 57px 0px; background-image:url(/ak_web_images/bgtrans.gif);}
.ak_advance_link:hover		{background-image:url(/ak_web_images/bgtransparent.png); }

/*--Setup the wrappers for the Alternative Nav, Social Icons and Footer sections--*/
.ak_wrap_altnav,
.ak_wrap_social,
.ak_wrap_footer				{position:relative; border-bottom-style:solid; border-bottom-width:2px; padding:50px 0px; }

.ak_wrap_altnav				{background-color:#333; border-bottom-color:#3b3b3b;  }
.ak_wrap_social				{background-color:#222; border-bottom-color:#292929; text-align:center; }
.ak_wrap_footer				{background-color:#111; border-bottom-color:#252525; text-align:center; }

.ak_altnav_column			{float:left; width:250px; }
.ak_cont_social				{width:300px; text-align:center; padding:0px 0px 80px 0px; margin:50px auto 0px auto; position:relative;  }
.ak_foot_column				{display:inline-block; /* for ie6/7: */ *display:inline; zoom:1; padding:0px 18px 40px 18px; text-align:left; }

/*--Image Hovers--*/
.ak_img_altnav,
.ak_img_iconadvance,
.ak_img_social				{width:500px; height:500px; position:relative; }

.ak_imgtrimr_altnav			{width:80px; height:75px; overflow:hidden; float:left; margin-bottom:20px; margin-right:10px; }
.ak_img_altnav 				{top:-100px; }
.ak_altnav_link:hover .ak_img_altnav {top:-175px; }

.ak_imgtrimr_social			{float:left; width:50px; height:50px; overflow:hidden; position:relative; top:10px; }
.ak_img_social				{top:0px; }
.ak_social_link:hover .ak_img_social {top:-50px; }

.ak_imgtrimr_resource		{width:180px; height:180px; float:left; margin-right:10px; overflow:hidden;}
.ak_img_resource			{width:180px; height:360px; position:relative; top:-180px;}
.ak_resource_link:hover .ak_img_resource {left:0px; top:0px;}



/*--Text Modifiers--*/
/*--Font Weights--*/
.ak_article_question,
.ak_article_client,
.ak_article_extlink,
.ak_article_link			{font-weight:700;}

/*--Font Colors--*/
.ak_article_title,
.ak_article_subhead,
.ak_article_client,
.ak_article_contact,
.ak_article_question,
.ak_article_extlink,
.ak_article_link,
.ak_headline_link,
.ak_advance_link,
.ak_mainnav_link,
.ak_altnav_link,
.ak_social_text,
.ak_resources_subhead		{color:#fff}

.ak_lolight,
.ak_copyright,
.ak_footnav_link			{color:#666; }

.ak_altnav_text				{color:#999; }

/*--Font Families--*/
.ak_article_title,
.ak_headline_link,
.ak_advance_link,
.ak_mainnav_link,
.ak_altnav_link,
.ak_social_text,
.ak_article_subhead,
.ak_resources_subhead		{font-family:benchnine, 'Trebuchet MS', Tahoma, Arial, Helvetica, sans-serif; line-height:1em; font-weight:300!important}

/*--Font Sizes--*/
.ak_small_font				{font-size:9pt; }

.ak_mainnav_link,
.ak_headline_more			{font-size:24px; }

.ak_resources_subhead		{font-size:28px; }

.ak_altnav_link,
.ak_social_text				{font-size:32px; }

.ak_article_subhead,
.ak_article_title			{font-size:36px; }

.ak_headline_link,
.ak_advance_link			{font-size:42px; }


/*--Javascript Modifiers--*/
.invisible 					{visibility:hidden; } /*--Purely used to designate which elements the js initially hides or unhides--*/
.ak_jshide_page				{} /*--Just a switch for selecting which pages are hidden--*/

/*--Sets up the positioning and styling for divs containing background images--*/
.ak_darkscreen,
.ak_img_nojsbg				{width:100%; height:100%; }
.ak_cont_nojsbg				{left:0px; top:0px; z-index:-1; position:absolute; overflow:hidden; }/*--Hidden by javascript--*/
#ak_wrap_jsbg				{left:0px; top:0px; z-index:-2; position:fixed; overflow:hidden; display:none; }/*--Unhidden by javascript--*/
#ak_cont_jsbg 				{width:1000%; position:relative; }
.ak_img_jsbg	 			{width:10%; float:left; height:100%; -webkit-backface-visibility: hidden; -webkit-transform:translate3d(0,0,0);}

/*--Forms & Buttons Modifiers--*/
.sf_lead_label				{width:90px; font-family:benchnine, 'Trebuchet MS', Tahoma, Arial, Helvetica, sans-serif; line-height:1em; font-size:20px; font-weight:300!important; float:left; margin-top:3px; }
.sf_lead_input				{width:200px; background-color:#1c1c1c; border:#333333 solid 1px; margin: 2px 0px; }
.sf_lead_submit				{position:absolute; bottom:-30px; width:415px; left:50%; margin-left:-200px; z-index:10; }
.sf_lead_submit_image		{width:auto; height:360px; bottom:-46px; left:50%; margin-left:70px; position:absolute; }

.ak_form 			{margin:5px 0 0 0; padding:0 0;}
.ak_button,
.ak_input 			{border:none; padding:0; text-decoration:none; border-radius:0px;
					display:inline-block; mso-hide:all; height:38px; line-height:38px;
					-webkit-appearance:none;
					-webkit-text-size-adjust:none;
					-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     				-moz-box-sizing: border-box; /* For all Gecko based browsers */
         			 box-sizing: border-box; }
.ak_input			{font-size:12px; width:180px; color:#666!important; font-family:Montserrat, Tahoma, Arial, Helvetica, sans-serif; font-weight:300!important; padding:0 0 0 5px; vertical-align:bottom;}
.ak_button			{background-color:#51a2b3; font-size:14px; color:#fff!important; font-family:Montserrat, Tahoma, Arial, Helvetica, sans-serif; font-weight:normal!important; text-transform:uppercase; text-align:center; padding:0 30px; letter-spacing:2px; }
.ak_button_big		{height:50px; line-height:48px; border-radius:8px; }

a.ak_button,
a.ak_button:hover,
a.ak_button:active,
a.ak_button:visited {color:#fff!important; text-decoration:none; }
.ak_button:hover	{background-color:#61c7dd; cursor:pointer; }


/*--General modifiers--*/
.ak_article_contact			{line-height:25px; }
.ak_article_column p+p,
.ak_spacing_fix,
p+.ak_article_client,
p+.ak_article_subhead		{margin-top:15px; }
.ak_resources_subhead		{padding-top:25px; }

/*--Displays the 'Selected' bar under the each menu item--*/
.ak_selected_nojs,
#ak_selected_js				{width:60px; height:2px; top:90px; left:50%; background:#ffffff; position:absolute; z-index:0 } /*--Hidden by javascript--*/
#ak_selected_js				{background:#666; display:none; } /*--Displayed and moved by the javascript when needed--*/

/*--Genetify Styles for A/B Split Testing--*/
.v							{ display: none; }
.genetify_disabled			{ display: none !important; } 
.genetify_enabled			{ display: block !important; } 

/*--Privacy Policy Pages--*/
#privacy h2					{font-size:17px; font-weight:700; color:#FFF; margin-top:0px; margin-bottom:0px;}
#privacy h3					{font-size:12px; font-weight:700; color:#FFF; margin-top:10px; margin-bottom:0px;}
#privacy p					{font-size:12px; margin-top:0px; margin-bottom:10px; }
#privacy 